.ajax_loader {
	background: transparent url('../img/ajax-loader.gif') no-repeat center center;
	background: rgba(230,230,230,0.3) url('../img/ajax-loader.gif') no-repeat center center !important;
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}

.liisibanklink_logo_block {
	background-image: url('../../logo.png');
	background-repeat: no-repeat;
	width: 105px;
	height: 42px;
	margin-bottom: 15px;
	margin-left: 15px;
}

.back_button:hover {
	color: #fff;
	background-color: #6c757d;
}

.back_button {
	margin-right: 40px;
	box-shadow: none;
	color: #6c757d;
	border-color: #6c757d;
}

.btn-outline-success,
.back_button {
	transition: all .5s ease;
}

.first_confirm_page {
	padding: 40px 0;
	max-width: 730px;
}

.page-subheading {
	margin-bottom: 20px;
}

#cart_navigation {
	text-align: center;
	margin-top: 30px;
}

.start_payment {
	outline: none;
	float: left;
}

.purchase_confirmation {
	padding: 40px 0;
}

.liisibanklink_add_section {
	margin-bottom: 15px;
}

button.veebipoed_banklink {
	margin-top: 15px;
	min-width: 165px;
	text-transform: uppercase;
	font-weight: bold;
}

.liisibanklink_add_section .js-payment-liisibanklink.disabled {
	display: none !important;
}